#!/bin/bash

export _JAVA_AWT_WM_NONREPARENTING=1

xscreensaver &
setxkbmap "us,ru" "" "grp:win_space_toggle" -option caps:none &
xset s off &
xset -dpms &

#sh ~/wallpapers/cyber1.sh &

picom --experimental-backend &
sh ~/.local/bin/dwmbar &
sh ~/.local/bin/randwallpaper &

dbus-launch --exit-with-session dwm
#dbus-run-session -- dwm
